/* Force larger navbar logo */
.navbar-brand img {
  height: 70px !important;
  max-height: none !important;
  width: auto !important;
}

/* Reduce navbar vertical padding so it doesn't look bulky */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Hide site title text in navbar */
.navbar-brand span {
  display: none !important;
}


