/* IF YOU SEE THIS, CSS IS LOADED */
html {
  background: red !important;
}

/* HUGE NAVBAR LOGO */
#main-nav a.navbar-brand img {
  height: 140px !important;
  max-height: none !important;
  width: auto !important;
}

#main-nav {
  min-height: 150px !important;
}
